<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Exprerience shopping like no other</h1>
    <p></p>
    <p><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>

<h1>Listing Products</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
          <%= link_to (image_tag product.image.url(:thumb), class: :image), product %>
          <div class="caption">
              <h4 class="pull-right"><%= number_to_currency product.price %></h4>
              <h4>
              <span><%= product.name %></span>           
              </h4>
                
            <%= link_to "", class: "btn btn-primary btn-default", data: {target: 'Add to', addUrl: add_to_cart_path(product)} do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
            <% end %>
            | <%= link_to 'Show', product %>
            | <%= link_to 'Edit', edit_product_path(product) %>
            | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>          
      </div>
  </div>
 <% end %>
</div>