<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="thumbnail">
            <%= image_tag @product.image.url(:medium), class: :image %>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <h3><%= @product.name %></h3>
          <p>            
            <%= number_to_currency @product.price %>
          </p>
          <p><%= @product.description %></p>
         <%= link_to "", class: "btn btn-primary btn-default", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do %>
          <span class="glyphicon glyphicon-shopping-cart"><%=@cart_action %></span> Cart
        <% end %>      
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
